.squadra {
    &.winner {
        a {
            position: relative;

            &::before {
                content: '\27A4';
                position: absolute;
                left: 0;
            }

            .team {
                margin-left: 1.5em;
            }
        }
    }
}
