.squadre {
    padding: 2rem;
}

.squadre-list {
    padding: 1.5rem 0;
}

.search-add-wrapper {
    display: flex;

    .add-modal-wrapper {
        margin-left: 0.5rem;
    }
}

.squadra {
    padding: 1rem;

    &:not(:last-of-type) {
        border-bottom: 1px solid #ccc;
    }
}
